In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import meteva.base as meb
import meteva.method as mem
import meteva.product as mpd
import numpy as np
import datetime
import copy
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
path = r"H:\resource\meteva\sta\stat10461.txt"
sta = meb.read_station(path,keep_alt = True)
print(sta)

       level                time  dtime      id     lon    lat  alt
0          0 2099-01-01 08:00:00      0   54398  116.62  40.13  0.0
1          0 2099-01-01 08:00:00      0   54399  116.28  39.97  0.0
2          0 2099-01-01 08:00:00      0   54406  115.97  40.45  0.0
3          0 2099-01-01 08:00:00      0   54416  116.87  40.38  0.0
4          0 2099-01-01 08:00:00      0   54419  116.63  40.36  0.0
...      ...                 ...    ...     ...     ...    ...  ...
10455      0 2099-01-01 08:00:00      0  899209   76.20  38.77  0.0
10456      0 2099-01-01 08:00:00      0  899211   76.41  38.93  0.0
10457      0 2099-01-01 08:00:00      0  899223   76.77  39.65  0.0
10458      0 2099-01-01 08:00:00      0  899233   76.76  39.09  0.0
10459      0 2099-01-01 08:00:00      0  899533   81.64  37.08  0.0

[10460 rows x 7 columns]

In [16]:
lon = (sta.loc[:,"lon"].values * 1000).astype(np.int32)/1000.0
lat = (sta.loc[:,"lat"].values * 1000).astype(np.int32)/1000.0
sta["lon"] = lon
sta["lat"] = lat
path_out = path = r"H:\resource\meteva\sta\stat10461.txt"
meb.write_stadata_to_micaps3(sta,path,effectiveNum=3)

True

In [20]:
meb.read_station(meb.station_国家站_全部区域站)

       level                time  dtime      id      lon     lat  data0
0          0 2099-01-01 08:00:00      0   50136  122.510  52.974      0
1          0 2099-01-01 08:00:00      0   50137  122.378  53.469      0
2          0 2099-01-01 08:00:00      0   50246  124.718  52.348      0
3          0 2099-01-01 08:00:00      0   50247  123.566  52.033      0
4          0 2099-01-01 08:00:00      0   50349  124.391  51.665      0
...      ...                 ...    ...     ...      ...     ...    ...
58469      0 2099-01-01 08:00:00      0  899534   81.633  36.853      0
58470      0 2099-01-01 08:00:00      0  899535   81.435  36.848      0
58471      0 2099-01-01 08:00:00      0  899536   81.630  36.819      0
58472      0 2099-01-01 08:00:00      0  899537   81.422  36.892      0
58473      0 2099-01-01 08:00:00      0  899538   81.400  37.000      0

[58474 rows x 7 columns]