In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import meteva.base as meb
import meteva.method as mem
import meteva.product as mpd
import numpy as np
import datetime
import copy
import matplotlib.pyplot as plt
import time
import pandas as pd
import math
import matplotlib as mpl

In [2]:
para= {
    "ip_port_file":r"H:\test_data\input\meb\ip_port.txt",
    "local_binary_dir":"O:/data/mdfs",
    "local_sta_dir": "O:/data/sta",
    "local_grid_dir":"O:/data/grid",
    "max_save_day":7,
    }

最近一周温度预报温度性对比

In [3]:
dir_ob = "SURFACE\QC_BY_FSOL\TMP_ALL_STATION/YYYYMMDDHH0000.000"
now = datetime.datetime.now()
today = datetime.datetime(now.year,now.month,now.day,8,0)
station_alt = meb.read_station(meb.station_国家站)
station = station_alt.copy()
station["data0"] = meb.IV
id_dict = {"北京":54511,"哈尔滨":50953, "武汉":57494,"广州":59287}
id_list = []
for key in id_dict.keys():
    id_list.append(id_dict[key])
station_city = meb.in_id_list(station,id_list)
veri_day_count =7
time1 = today - datetime.timedelta(days = veri_day_count)
tweek_ago = time1 - datetime.timedelta(days = veri_day_count)

In [4]:
import meteva
def load_ob_fos_dataset(ob_fos_path_list,ob_fos_name_list = None):
    sta_all_list = []
    for i in range(len(ob_fos_path_list)):
        sta_all = pd.read_hdf(ob_fos_path_list[i],"df")
        #print(sta_all)
        if ob_fos_name_list is not None:
            meteva.base.set_stadata_names(sta_all,[ob_fos_name_list[i]])
            meteva.base.set_stadata_coords(sta_all,level = 0)
        sta_all_list.append(sta_all)
    sta_all_merged = meteva.base.combine_on_obTime_id(sta_all_list[0],sta_all_list[1:])
    return sta_all_merged

In [5]:
#读取观测数据
ob_fos_path_list  = [r"O:\data\hdf\SURFACE\QC_BY_FSOL\TMP_ALL_STATION\week.h5",
                     r"O:\data\hdf\NWFD_SCMOC\TMP\2M_ABOVE_GROUND\week.h5",
                     r"O:\data\hdf\GRAPES_GFS\TMP\2M_ABOVE_GROUND\week.h5"]
ob_fos_name_list = ["ob","scmoc","grapes"]
sta_all = load_ob_fos_dataset(ob_fos_path_list,ob_fos_name_list)

no matched line

AttributeError: 'NoneType' object has no attribute 'fillna'

In [ ]:
sta_all_points = meb.sele_by_para(sta_all,id = id_list,dtime_range = [0,144],time_range = ["2020050208","2020050908"])

In [ ]:
mpd.time_list_mesh_temp(sta_all_points,save_dir = r"H:\task\文字材料\每周讨论\0509\mesh")

In [ ]:
mpd.time_list_line(sta_all_points,save_dir = r"H:\task\文字材料\每周讨论\0509\line")

In [ ]:
mpd.time_list_line_error(sta_all_points,save_dir = r"H:\task\文字材料\每周讨论\0509\line_error")

In [ ]:
sta_all_c = meb.sele_by_para(sta_all,value = [-100,100])

In [ ]:
mpd.me_scatter(sta_all_c,threshold=2,save_dir = r"H:\task\文字材料\每周讨论\0509\scatter")

In [ ]:
mpd.mae_scatter(sta_all_c,threshold = 2)

In [ ]:
mpd.error_boxplot(sta_all_c,g = "time",threshold = 2)

In [ ]:
mpd.error_boxplot(sta_all_c,g = "dtime",threshold = 2,show = True,save_dir = r"H:\task\文字材料\每周讨论\0509\boxplot")

In [ ]:
mpd.error_boxplot(sta_all_c,s = {"dtime":84},g = "time",threshold = 2,show = True,save_dir = r"H:\task\文字材料\每周讨论\0509\boxplot1")

In [ ]:
sta_all_c

In [ ]:
mpd.error_boxplot(sta_all_c,s = {"dtime":81,"hour":8},g = "time",threshold = 2)

In [ ]:
mpd.me_scatter(sta_all_c,threshold=2,s = {"dtime":78,"hour":8},save_dir = r"H:\task\文字材料\每周讨论\0509\scatter1")

In [ ]:
grd = meb.read_griddata_from_nc(r"O:\data\grid\NWFD_SCMOC\TMP\2M_ABOVE_GROUND\20200505\20050508.081.nc")
grd.values[grd.values ==9999] = 0

In [ ]:
meb.plot_tools.contourf_2d_grid(grd)

In [ ]:
grid1 = meb.grid([100,110,0.05],[20,30,0.05])
grd1 = meb.interp_gg_linear(grd,grid1)
meb.plot_tools.contourf_2d_grid(grd1)
meb.write_griddata_to_micaps4(grd1,r"H:\task\文字材料\每周讨论\0509\a.txt")

In [65]:
sta_24 = pd.read_hdf(r"O:\data\hdf\combined\temp_2m\week_1.h5","df")

In [70]:
id_list = [57036,57048,57245,57248,57140,57127]
sta_part = meb.sele_by_para(sta_24,id = id_list,time_range = ["2020042108","2020042508"],dtime_range = [0,24],drop_IV=True)

In [79]:
mpd.score(sta_part,mem.continuous.correct_rate,para1 = [4])

(array([0.89615385, 0.9       ]), None, None)

In [19]:
mpd.time_list_line_error(sta_part,save_dir = r"H:\task\other\202005-保障站点检验\line_error")

图片已保存至H:\task\other\202005-保障站点检验\line_error\57248.png
图片已保存至H:\task\other\202005-保障站点检验\line_error\57127.png
图片已保存至H:\task\other\202005-保障站点检验\line_error\57140.png
图片已保存至H:\task\other\202005-保障站点检验\line_error\57048.png
图片已保存至H:\task\other\202005-保障站点检验\line_error\57245.png

In [22]:
mpd.time_list_line(sta_part,save_dir = r"H:\task\other\202005-保障站点检验\line")

57248
图片已保存至H:\task\other\202005-保障站点检验\line/57248.png
57127
图片已保存至H:\task\other\202005-保障站点检验\line/57127.png
57036
图片已保存至H:\task\other\202005-保障站点检验\line/57036.png
57140
图片已保存至H:\task\other\202005-保障站点检验\line/57140.png
57048
图片已保存至H:\task\other\202005-保障站点检验\line/57048.png
57245
图片已保存至H:\task\other\202005-保障站点检验\line/57245.png

In [69]:
mpd.time_list_mesh_temp(sta_part,s = {"member":["ob","scmoc"]},save_dir = r"H:\task\other\202005-保障站点检验\mesh")

图片已保存至H:\task\other\202005-保障站点检验\mesh/scmoc_57248.png
图片已保存至H:\task\other\202005-保障站点检验\mesh/scmoc_57127.png
图片已保存至H:\task\other\202005-保障站点检验\mesh/scmoc_57036.png
图片已保存至H:\task\other\202005-保障站点检验\mesh/scmoc_57140.png
图片已保存至H:\task\other\202005-保障站点检验\mesh/scmoc_57048.png
图片已保存至H:\task\other\202005-保障站点检验\mesh/scmoc_57245.png

In [61]:
sta_rain01 = pd.read_hdf(r"O:\data\hdf\combined\rain01\week_1.h5","df")

In [62]:
sta_part = meb.sele_by_para(sta_rain01,id = id_list,time_range = ["2020041808","2020042108"])

In [64]:
mpd.time_list_mesh_rain01h(sta_part,save_dir = r"H:\task\other\202005-保障站点检验\mesh_rain01")

图片已保存至H:\task\other\202005-保障站点检验\mesh_rain01/gmosrr_57248.png
图片已保存至H:\task\other\202005-保障站点检验\mesh_rain01/gmosrr_57127.png
图片已保存至H:\task\other\202005-保障站点检验\mesh_rain01/gmosrr_57036.png
图片已保存至H:\task\other\202005-保障站点检验\mesh_rain01/gmosrr_57140.png
图片已保存至H:\task\other\202005-保障站点检验\mesh_rain01/gmosrr_57048.png
图片已保存至H:\task\other\202005-保障站点检验\mesh_rain01/gmosrr_57245.png

In [54]:
meb.sele_by_para(sta_part,id = 57127,dtime  =3)

,level,time,dtime,id,lon,lat,ob,gmosrr
567971,0.0,2020-04-23 21:00:00,3,57127,107.03,33.07,0.0,0.000000
570382,0.0,2020-04-23 22:00:00,3,57127,107.03,33.07,0.0,0.000000
572793,0.0,2020-04-23 23:00:00,3,57127,107.03,33.07,0.0,0.000000
575204,0.0,2020-04-24 00:00:00,3,57127,107.03,33.07,0.0,0.000000
577615,0.0,2020-04-24 01:00:00,3,57127,107.03,33.07,0.0,0.000000
580026,0.0,2020-04-24 02:00:00,3,57127,107.03,33.07,0.0,0.000000
582437,0.0,2020-04-24 03:00:00,3,57127,107.03,33.07,0.0,0.000000
584848,0.0,2020-04-24 04:00:00,3,57127,107.03,33.07,0.0,0.000000
587259,0.0,2020-04-24 05:00:00,3,57127,107.03,33.07,0.0,0.000000
589670,0.0,2020-04-24 06:00:00,3,57127,107.03,33.07,0.0,0.000000
592081,0.0,2020-04-24 07:00:00,3,57127,107.03,33.07,0.0,0.000000
594492,0.0,2020-04-24 08:00:00,3,57127,107.03,33.07,0.0,0.000000
596903,0.0,2020-04-24 09:00:00,3,57127,107.03,33.07,0.0,0.000000
599314,0.0,2020-04-24 10:00:00,3,57127,107.03,33.07,0.0,0.000000
601725,0.0,2020-04-24 11:00:00,3,57127,107.03,33.07,0.0,0.000000
604136,0.0,2020-04-24 12:00:00,3,57127,107.03,33.07,0.0,0.000000
606547,0.0,2020-04-24 13:00:00,3,57127,107.03,33.07,0.0,0.000000
608958,0.0,2020-04-24 14:00:00,3,57127,107.03,33.07,0.0,0.000000
611369,0.0,2020-04-24 15:00:00,3,57127,107.03,33.07,0.0,0.000000
613780,0.0,2020-04-24 16:00:00,3,57127,107.03,33.07,0.0,0.000000
616191,0.0,2020-04-24 17:00:00,3,57127,107.03,33.07,0.0,0.000000
618602,0.0,2020-04-24 18:00:00,3,57127,107.03,33.07,0.0,0.000000
621013,0.0,2020-04-24 19:00:00,3,57127,107.03,33.07,0.0,0.000000
623424,0.0,2020-04-24 20:00:00,3,57127,107.03,33.07,0.0,0.000000
625835,0.0,2020-04-22 21:00:00,3,57127,107.03,33.07,0.0,0.140000
628246,0.0,2020-04-22 22:00:00,3,57127,107.03,33.07,0.0,0.146000
630657,0.0,2020-04-22 23:00:00,3,57127,107.03,33.07,0.0,0.116000
633068,0.0,2020-04-23 00:00:00,3,57127,107.03,33.07,0.0,0.068400
635479,0.0,2020-04-23 01:00:00,3,57127,107.03,33.07,0.0,0.000000
637890,0.0,2020-04-23 02:00:00,3,57127,107.03,33.07,0.0,0.000000
...,...,...,...,...,...,...,...,...
782550,0.0,2020-04-21 14:00:00,3,57127,107.03,33.07,0.4,0.000000
784961,0.0,2020-04-21 15:00:00,3,57127,107.03,33.07,0.9,0.000000
787372,0.0,2020-04-21 17:00:00,3,57127,107.03,33.07,0.1,0.126000
789783,0.0,2020-04-21 18:00:00,3,57127,107.03,33.07,0.0,0.148400
792194,0.0,2020-04-21 19:00:00,3,57127,107.03,33.07,0.0,0.000000
794605,0.0,2020-04-21 20:00:00,3,57127,107.03,33.07,0.0,0.000000
797016,0.0,2020-04-20 00:00:00,3,57127,107.03,33.07,0.1,0.084000
799427,0.0,2020-04-20 01:00:00,3,57127,107.03,33.07,0.0,0.037600
801838,0.0,2020-04-20 02:00:00,3,57127,107.03,33.07,0.0,0.080400
804249,0.0,2020-04-20 03:00:00,3,57127,107.03,33.07,0.0,0.114000
806660,0.0,2020-04-20 04:00:00,3,57127,107.03,33.07,0.0,0.070401
809071,0.0,2020-04-20 05:00:00,3,57127,107.03,33.07,0.0,0.192801
811482,0.0,2020-04-20 06:00:00,3,57127,107.03,33.07,0.0,0.046799
813893,0.0,2020-04-20 07:00:00,3,57127,107.03,33.07,0.0,0.000000
816304,0.0,2020-04-20 08:00:00,3,57127,107.03,33.07,0.0,0.080000
818715,0.0,2020-04-20 09:00:00,3,57127,107.03,33.07,0.1,0.118400
821126,0.0,2020-04-20 10:00:00,3,57127,107.03,33.07,0.4,0.138400
823537,0.0,2020-04-20 11:00:00,3,57127,107.03,33.07,0.1,0.096000
825948,0.0,2020-04-20 12:00:00,3,57127,107.03,33.07,0.0,0.000000
828359,0.0,2020-04-20 13:00:00,3,57127,107.03,33.07,0.1,0.000000
830770,0.0,2020-04-20 14:00:00,3,57127,107.03,33.07,0.0,0.000000
833181,0.0,2020-04-20 15:00:00,3,57127,107.03,33.07,0.1,0.000000
835592,0.0,2020-04-20 16:00:00,3,57127,107.03,33.07,1.0,0.129199
838003,0.0,2020-04-20 17:00:00,3,57127,107.03,33.07,0.0,0.000000
840414,0.0,2020-04-20 18:00:00,3,57127,107.03,33.07,0.0,0.111200
842825,0.0,2020-04-20 19:00:00,3,57127,107.03,33.07,0.0,0.000000
845236,0.0,2020-04-20 20:00:00,3,57127,107.03,33.07,0.0,0.000000
9888897,0.0,2020-04-24 21:00:00,3,57127,107.03,33.07,999999.0,0.000000
9973282,0.0,2020-04-24 22:00:00,3,57127,107.03,33.07,999999.0,0.000000
10060078,0.0,2020-04-24 23:00:00,3,57127,107.03,33.07,999999.0,0.000000

In [ ]:
mpd.me_scatter(sta_all,s = {"ob_hour":14})

In [ ]:
mpd.me_scatter(sta_all,s = {"ob_hour":2})

In [ ]:
meb.set_stadata_names(sta_all,["ob","scmoc","grapes_gfs"])
sta1 = meb.in_id_list(sta_all,[56385])
mpd.time_list_line(sta1)

In [ ]:
meb.set_stadata_names(sta_all,["ob","scmoc","grapes_gfs"])
sta1 = meb.in_id_list(sta_all,[id_dict["武汉"]])
mpd.time_list_line_error(sta1)

In [ ]:
meb.set_stadata_names(sta_all,["ob","scmoc","grapes_gfs"])
sta1 = meb.in_id_list(sta_all,[id_dict["广州"]])
mpd.time_list_line(sta1)

In [ ]:
station_alt = meb.read_stadata_from_micaps3(meb.station_国家站)
group_name_list=[]
id_list_list=[]
for i in range(10):
    salt = 500* i
    ealt = 500* (i+1)
    sta = meb.between_value_range(station_alt,salt,ealt)
    id_list_list.append(sta.loc[:,"id"].values.tolist())
    group_name_list.append(str(salt)+"-"+str(ealt))

In [ ]:
result = mpd.score(sta_all,mem.rmse,g = "id",gll = id_list_list)

In [ ]:
fig = plt.figure(figsize = (12,5))
x =np.arange(len(result[0]))
plt.plot(x,result[0][:,0],label = "scmoc")
plt.plot(x,result[0][:,1],label = "grapes-gfs")
plt.xticks(x,group_name_list)
plt.legend(fontsize = 14)
plt.ylim(0,7)
plt.xlabel("站点高度",fontsize = 14)
plt.ylabel("rmse",fontsize = 14)

In [ ]:
result = mpd.score(sta_all,mem.sample_count,g = "id",gll = id_list_list)
fig = plt.figure(figsize = (12,5))
x =np.arange(len(result[0]))
plt.plot(x,result[0][:,0])
plt.xticks(x,group_name_list)
plt.legend(fontsize = 14)
plt.xlabel("站点高度",fontsize = 14)
plt.ylabel("样本数",fontsize = 14)

In [ ]:
#sta_all_24 = meb.combine_on_obTime_id(ob_all,[scmoc_all,gmosrr_all])
#sta_all_24 = meb.not_IV(sta_all_24)

In [ ]:
#mpd.mae_scatter(sta_all_24)

In [ ]:
#mpd.error_boxplot(sta_all_24,"time",threshold = 2)

In [ ]:
mpd.me_scatter(sta_all,s = {"time":"2020032520","dtime" :12})

In [ ]:
mpd.me_scatter(sta_all,s = {"time":"2020031908","dtime" :6,"lon":[108,120],"lat":[20,29]})

In [ ]:
meb.sele_by_dict(sta_all,s = {"id":id_dict["广州"],"time":"2020031820"})

In [ ]:
mpd.me_scatter(sta_all,s = {"time":"2020032508","dtime" :12})

In [ ]:
tmin_all = pd.read_hdf(r"H:\tmin.h5","df")

In [ ]:
mpd.time_list_line_error(tmin_all,s = {"id":57494})

In [ ]:
sta_all.to_hdf(r"H:\t2m_3h.h5",'df')

In [ ]:
mpd.me_scatter(sta_all,s ={"ob_hour":2})

In [ ]:
mpd.score(sta_all,mem.me,s ={"ob_hour":2,"id":57494})

In [35]:
sta = pd.read_hdf(r"O:\data\hdf\SURFACE\QC_BY_FSOL\TMP_ALL_STATION\week_1.h5","df")

In [41]:
sta = meb.read_stadata_from_gdsfile(r"O:\data\sta\SURFACE\QC_BY_FSOL\TMP_ALL_STATION\20200424\20200424110000.000")

In [42]:
sta_57036 = meb.sele_by_para(sta,id = 57036)

In [43]:
sta_57036

Empty DataFrame
Columns: [level, time, dtime, id, lon, lat, data0]
Index: []

In [44]:
sta

,level,time,dtime,id,lon,lat,data0
0,0.0,2020-04-24 11:00:00,0,786444,107.009697,23.463900,17.100000
1,0.0,2020-04-24 11:00:00,0,720906,126.753098,45.772800,9.300000
2,0.0,2020-04-24 11:00:00,0,720905,126.542198,45.735600,9.600000
3,0.0,2020-04-24 11:00:00,0,720911,126.571098,46.762798,9.700000
4,0.0,2020-04-24 11:00:00,0,720903,126.631699,45.745800,9.700000
5,0.0,2020-04-24 11:00:00,0,720901,126.680801,45.755798,9.200000
6,0.0,2020-04-24 11:00:00,0,786434,107.215599,23.589399,18.200001
7,0.0,2020-04-24 11:00:00,0,655365,121.590797,31.646400,19.799999
8,0.0,2020-04-24 11:00:00,0,720921,126.521103,45.578602,9.800000
9,0.0,2020-04-24 11:00:00,0,720920,126.775002,45.654400,9.400000
10,0.0,2020-04-24 11:00:00,0,786454,107.040298,23.616699,18.299999
11,0.0,2020-04-24 11:00:00,0,655402,121.882797,31.007500,21.000000
12,0.0,2020-04-24 11:00:00,0,852013,89.147499,28.866400,3.900000
13,0.0,2020-04-24 11:00:00,0,852012,89.370003,29.093599,1.700000
14,0.0,2020-04-24 11:00:00,0,786478,104.715797,24.503099,13.300000
15,0.0,2020-04-24 11:00:00,0,852015,88.922798,28.900299,5.700000
16,0.0,2020-04-24 11:00:00,0,655401,121.843903,30.859699,20.700001
17,0.0,2020-04-24 11:00:00,0,852014,89.163597,29.209200,3.800000
18,0.0,2020-04-24 11:00:00,0,852009,88.693604,29.038300,3.000000
19,0.0,2020-04-24 11:00:00,0,852008,88.748100,29.211399,1.500000
20,0.0,2020-04-24 11:00:00,0,852011,89.204201,29.046101,2.600000
21,0.0,2020-04-24 11:00:00,0,655405,121.644699,31.024700,21.700001
22,0.0,2020-04-24 11:00:00,0,852010,89.163597,29.209200,1.600000
23,0.0,2020-04-24 11:00:00,0,852005,88.899200,29.367800,1.700000
24,0.0,2020-04-24 11:00:00,0,852004,89.021698,29.320299,1.500000
25,0.0,2020-04-24 11:00:00,0,852007,88.918297,29.087799,2.200000
26,0.0,2020-04-24 11:00:00,0,852006,88.812798,29.326900,2.000000
27,0.0,2020-04-24 11:00:00,0,852001,89.790604,29.298300,3.800000
28,0.0,2020-04-24 11:00:00,0,852000,88.980797,29.158899,2.600000
29,0.0,2020-04-24 11:00:00,0,852003,89.428299,29.283600,1.400000
...,...,...,...,...,...,...,...
47911,0.0,2020-04-24 11:00:00,0,655261,121.169403,31.448299,19.799999
47912,0.0,2020-04-24 11:00:00,0,655262,121.285004,31.324699,20.900000
47913,0.0,2020-04-24 11:00:00,0,786323,106.179398,23.234699,12.500000
47914,0.0,2020-04-24 11:00:00,0,786320,106.599197,24.021400,17.299999
47915,0.0,2020-04-24 11:00:00,0,655255,121.320000,31.290001,21.799999
47916,0.0,2020-04-24 11:00:00,0,786351,106.791901,23.754999,19.000000
47917,0.0,2020-04-24 11:00:00,0,786343,106.412498,23.131701,14.000000
47918,0.0,2020-04-24 11:00:00,0,851901,91.270798,29.898899,6.200000
47919,0.0,2020-04-24 11:00:00,0,786361,106.977501,23.686100,18.400000
47920,0.0,2020-04-24 11:00:00,0,851902,91.201103,29.910299,6.200000
47921,0.0,2020-04-24 11:00:00,0,720831,128.646393,45.782799,10.200000
47922,0.0,2020-04-24 11:00:00,0,786353,106.054199,23.139700,12.100000
47923,0.0,2020-04-24 11:00:00,0,786377,106.575600,24.417200,12.200000
47924,0.0,2020-04-24 11:00:00,0,655306,121.245598,31.728100,19.799999
47925,0.0,2020-04-24 11:00:00,0,786381,106.543602,23.538099,13.500000
47926,0.0,2020-04-24 11:00:00,0,720834,128.637802,45.892502,10.000000
47927,0.0,2020-04-24 11:00:00,0,786371,106.946899,23.672800,18.900000
47928,0.0,2020-04-24 11:00:00,0,720832,128.596405,45.724701,10.300000
47929,0.0,2020-04-24 11:00:00,0,720833,128.545303,45.778599,9.700000
47930,0.0,2020-04-24 11:00:00,0,655303,121.453598,31.615000,20.400000
47931,0.0,2020-04-24 11:00:00,0,786397,106.566704,24.350000,16.900000
47932,0.0,2020-04-24 11:00:00,0,786391,106.916702,23.733299,19.200001
47933,0.0,2020-04-24 11:00:00,0,655341,121.798302,31.590599,20.000000
47934,0.0,2020-04-24 11:00:00,0,655343,121.798599,31.500000,19.700001
47935,0.0,2020-04-24 11:00:00,0,720890,127.724998,46.010300,10.500000
47936,0.0,2020-04-24 11:00:00,0,720891,127.913597,46.008900,9.800000
47937,0.0,2020-04-24 11:00:00,0,786424,107.125298,23.325001,16.299999
47938,0.0,2020-04-24 11:00:00,0,720894,127.801903,46.240299,11.000000
47939,0.0,2020-04-24 11:00:00,0,720895,127.813599,46.318600,8.800000
47940,0.0,2020-04-24 11:00:00,0,720893,127.889198,46.083099,9.700000